<ul class="pagination pull-right calendar">
  <li>
    {{link-to '&laquo;' routeName (query-params date=prev)}}
  </li>
  <li>
    {{#link-to routeName (query-params date=monday)}}
      Понедельник
      ({{date monday calendarFormat}})
    {{/link-to}}
  </li>
  <li>
    {{#link-to routeName (query-params date=tuesday)}}
      Вторник
      ({{date tuesday calendarFormat}})
    {{/link-to}}
  </li>
  <li>
    {{#link-to routeName (query-params date=wednesday)}}
      Среда
      ({{date wednesday calendarFormat}})
    {{/link-to}}
  </li>
  <li>
    {{#link-to routeName (query-params date=thursday)}}
      Четверг   
      ({{date thursday calendarFormat}})
    {{/link-to}}
  </li>
  <li>
    {{#link-to routeName (query-params date=friday)}}
      Пятница
      ({{date friday calendarFormat}})
    {{/link-to}}
  </li>
  <li>
    {{link-to '&raquo;' routeName (query-params date=next)}}
  </li>
</ul>