<div class="btn-group btn-group-lg pull-right calendar">
    {{link-to '&laquo;' routeName (query-params date=prev) classNames="btn btn-embossed"}}
    {{#link-to routeName (query-params date=monday) classNames="btn btn-embossed"}}
      Понедельник
      ({{date monday calendarFormat}})
    {{/link-to}}
    {{#link-to routeName (query-params date=tuesday) classNames="btn btn-embossed"}}
      Вторник
      ({{date tuesday calendarFormat}})
    {{/link-to}}
    {{#link-to routeName (query-params date=wednesday) classNames="btn btn-embossed"}}
      Среда
      ({{date wednesday calendarFormat}})
    {{/link-to}}
    {{#link-to routeName (query-params date=thursday) classNames="btn btn-embossed"}}
      Четверг   
      ({{date thursday calendarFormat}})
    {{/link-to}}
    {{#link-to routeName (query-params date=friday) classNames="btn btn-embossed"}}
      Пятница
      ({{date friday calendarFormat}})
    {{/link-to}}
    {{link-to '&raquo;' routeName (query-params date=next) classNames="btn btn-embossed"}}
</div>