<nav class="navbar navbar-default block-embossed hidden-print" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#link-to 'menu' classNames='navbar-brand'}}
            Food Ordering
            {{/link-to}} 
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {{#if auth.user.isAdmin}}
                <li>
                	{{#link-to 'orders'}}
                    Заказы
                    {{/link-to}}
                </li>
                {{/if}}
                {{#if auth.user.isAdmin}}
                <li>
                	{{#link-to 'clients'}}Клиенты{{/link-to}}
                </li>
                {{/if}}
                <li>
                    {{#link-to 'menu'}}Меню{{/link-to}}
                </li>
            </ul>
            {{#unless auth.user.isAdmin}}
                <p class="navbar-text">+375 29 11 22 33</p>
            {{/unless}}
            {{#if auth.signedIn}}
            <ul class="nav navbar-nav navbar-right edge-block">
                <li class="btn-group navbar-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    {{auth.user.greeting}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {{#unless auth.user.isAdmin}}
                    <li>
                        {{link-to 'Ваши заказы' 'profile' }}
                    </li>
                    {{/unless}}
                    <li>
                        {{link-to 'Настройки' 'settings' }}
                    </li>
                    <li class="divider"></li>
                    <li> 
                        {{#if auth.signedIn}}
                        <a href="#" {{ action signOut }}>
                            Покинуть нас
                        </a>
                        {{/if}}
                    </li>
                </ul>
            </li>

        </ul>
        {{else}}
        {{#link-to 'signIn' classNames="btn btn-embossed btn-default navbar-btn navbar-right"}}Войти{{/link-to}}
        {{/if}}
    </div>
</div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      {{ outlet }}
    </div>
  </div>
</div>
