<nav class="navbar navbar-default" role="navigation">
    <div class="container block-embossed">
        {{#if auth.signedIn}}
            {{#if auth.user.isAdmin}}
                {{#link-to 'settings' classNames='btn btn-default btn-embossed navbar-btn navbar-right' }} 
                    {{auth.user.greeting}} 
                {{/link-to}}
            {{else}}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{auth.user.greeting}} <b class="caret"></b></a>
                      <span class="dropdown-arrow"></span>
                      <ul class="dropdown-menu">
                        <li>
                            {{link-to 'Ваши заказы' 'profile' }}
                        </li>
                        <li class="divider"></li>
                        <li>
                            {{link-to 'Настройки' 'settings' }}
                        </li>
                      </ul>
                    </li>
                </ul>
            {{/if}}
        {{else}}
            {{#link-to 'signIn' classNames="btn btn-embossed btn-default navbar-btn pull-right"}}Войти{{/link-to}}
        {{/if}}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#link-to 'menu' classNames='navbar-brand'}}
                Food Ordering
            {{/link-to}} 
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {{#if auth.user.isAdmin}}
                <li>
                	{{#link-to 'orders'}}
                        Заказы
                    {{/link-to}}
                </li>
                {{/if}}
                {{#if auth.user.isAdmin}}
                <li>
                	{{#link-to 'clients'}}Клиенты{{/link-to}}
                </li>
                {{/if}}
                <li>
                    {{#link-to 'menu'}}Меню{{/link-to}}
                </li>
            </ul>
            <p class="navbar-text">+375 29 11 22 33</p>
            <ul class="nav navbar-nav navbar-right edge-block">
                <li> 
                    {{#if auth.signedIn}}
                        <a href="#" {{ action signOut }}>
                            Покинуть нас
                        </a>
                    {{/if}}
            	</li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {{ outlet }}
</div>