<div class="page-header">
  <h1>Клиенты и компании</h1>
</div>

{{#each arrangedContent itemController='clients/item'}}
  <div class="panel panel-default foods-admin-list block-embossed">
    <div class="panel-heading">
      <div class="column main">
        {{editable-field model=this.model field=name tagName='h3'}}
      </div>
      <div class="column cost">
      </div>
      <div class="column visibility">
        <span class="pull-left">Адрес: &nbsp;</span>{{editable-field model=this.model field=address}}
      </div>
        <div class="column actions">
        {{#unless isSeparated}}
          <a href="#" class="btn btn-embossed btn-danger" {{action delete}}>
            <span class='fui-cross'></span>
          </a>
        {{/unless}}
        </div>
      <div class="clearfix"></div>
    </div>

    {{view 'clients/companyList' contentBinding='users'}}

  </div> 
{{/each}}

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <button class="btn btn-embossed btn-primary navbar-btn pull-right" href="#" {{action addCompany}}>
    	Добавить компанию
    </button>
  </div>
</nav>
