<div class="page-header">
  <ul class="pagination pull-right calendar">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">Понедельник</a></li>
    <li><a href="#">Вторник</a></li>
    <li><a href="#">Среда</a></li>
    <li><a href="#">Четверг</a></li>
    <li><a href="#">Пятница</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>

  <h1>Меню</h1>
</div>

{{#each arrangedContent itemController='menu/itemCategory'}}
  <div class="panel panel-default foods-admin-list">
    <div class="panel-heading">
      {{category.position}} |
      <div class="column main">
        <div class="btn-group pull-right">
          <button type="button" {{bind-attr class=":btn :btn-success isFirstCategory:disabled"}} {{action decrementPosition}}>Вверх</button>
          <button type="button" {{bind-attr class=":btn :btn-success isLastCategory:disabled"}} {{action incrementPosition}}>Вниз</button>
        </div>
        {{editable-field model=category field=category.name tagName='h3'}}
      </div>
      <div class="column cost">
        <a href="#" class='btn btn-primary' {{action addFood}} >Новая позиция</a>
      </div>
      <div class="checkbox column visibility">
        <label>
          {{input type='checkbox' checked=isAllSelected}} Отображать всю категорию
        </label>
      </div>
      <div class="column actions">
        <a href="#" class="btn btn-danger" {{action delete}}>X</a>
      </div>
      <div class="clearfix"></div>
    </div>

    {{view 'menu/foodList' contentBinding='menuFoods' itemViewClass='menu/foodListItem'}}

  </div>   
{{/each}}

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    {{#if isAdmin}}
      <button class="btn btn-primary navbar-btn pull-right" href="#" {{action addCategory}}>Добавить категорию</button>
      <div class='pull-left available-menu'>
        <p class="navbar-text pull-left">Меню доступно до</p> 
        {{input value=available classNames="form-control pull-left"}}
      </div>
    {{else}}
      <button class="btn btn-primary navbar-btn pull-right" href="#">Заказать</button>
      <p class="navbar-text pull-right">сумма</p> 
    {{/if}}
  </div>
</nav>