<div class="page-header">
  {{partial 'pagination'}}
  <h1>Меню</h1>
</div>

{{#each arrangedContent itemController='menu/itemCategory'}}
  <div class="panel panel-default foods-admin-list">
    <div class="panel-heading">
      <div class="column main">
        {{#if isAdmin}}
          <div class="btn-group pull-right">
              <button type="button" {{bind-attr class=":btn :btn-embossed :btn-success isFirstCategory:disabled"}} {{action decrementPosition}}>
                <span class='fui-arrow-up'></span>
              </button>
              <button type="button" {{bind-attr class=":btn :btn-embossed :btn-success isLastCategory:disabled"}} {{action incrementPosition}}>
                <span class='fui-arrow-down'></span>
              </button>
          </div>
          {{editable-field model=category field=category.name tagName='h3'}}
        {{else}}
          <h3>{{category.name}}</h3>
        {{/if}}
      </div>
      <div class="column cost">
        {{#if isAdmin}}
          <a href="#" class='btn btn-embossed btn-primary' {{action addFood}} >Новая позиция</a>
        {{/if}}
      </div>
      <div class="column visibility">
        {{#if isAdmin}}
        <label class="checkbox">
          {{input type='checkbox' checked=isAllSelected }}
           Отображать всю категорию
        </label>
        {{/if}}
      </div>
      <div class="column actions">
        {{#if isAdmin}}
          <a href="#" class="btn btn-embossed btn-danger" {{action delete}}>
            <span class='fui-cross'></span>
          </a>
        {{/if}}
      </div>
      <div class="clearfix"></div>
    </div>

    {{view 'menu/foodList' contentBinding='menuFoods.filteredContent'}}

  </div>   
{{/each}}

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    {{#if isAdmin}}
      <button class="btn btn-embossed btn-primary navbar-btn pull-right" href="#" {{action addCategory}}>Добавить категорию</button>
      <div class='pull-left available-menu'>
        <p class="navbar-text pull-left">Меню доступно до</p> 
        {{input value=menu.available classNames="form-control pull-left time"}}
      </div>
    {{else}}
      <button class="btn btn-embossed btn-primary navbar-btn pull-right" href="#" {{action createOrder}}>Заказать</button>
      <p class="navbar-text pull-right">Итоговая сумма {{resultCost}}</p> 
    {{/if}}
  </div>
</nav>