<div class="page-header">
    {{partial 'pagination'}}
    <h1>Заказы</h1>
</div>

{{#each controller itemController='orders/item'}}
    {{#if orders.length}}
        <div class="panel panel-default foods-admin-list orders block-embossed">
            <div class="panel-heading">
                <div class="column main">
                    <h3>
                        {{#if company.isSeparated}}
                            Индивидуальные заказы
                        {{else}}
                            {{company.name}}
                        {{/if}}
                    </h3>
                </div>
                <div class="column cost">
                    {{company.address}}
                </div>
                <div class="column visibility">
                    {{#if isProcessed}}
                        <p class="text-success hidden-print">обработано</p>
                    {{else}}
                        <a href="#" class="btn btn-embossed btn-warning hidden-print" {{action process}}>
                            <span class='visible-lg'>Обработать!</span>
                            <span class='hidden-lg fui-check'></span>
                        </a>
                    {{/if}}
                </div>
                <div class="column actions">
                    {{totalCost}}&nbsp;руб.
                </div>
                <div class="clearfix"></div>
            </div>
            <ul class="list-group">

                {{#each stackedGroups}}
                    {{#if count}}
                        <li class="list-group-item">
                            <div class="column main">
                                <ul class="list-group-item-text grouping-foods">
                                    {{#each orderFoods}}
                                        <li>&nbsp;{{food.name}}&nbsp;</li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="column cost">

                            </div>
                            <div class="column visibility">
							  <span class="label label-info">
							  	{{count}}&nbsp;шт.
							  </span>
                            </div>
                            <div class="column actions">
                                {{totalCost}}&nbsp;руб.
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    {{/if}}
{{/each}}
